@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-content {
  display: inline-block;
  padding-right: 100%; 
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}